.container{
    display: flex;
    justify-content: center; 
}

.container img{
    width: 80%;
    margin: 5%;
    max-width: 100%; 
    padding: 10%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.my-class1{
width: 50%;
height: inherit;
background-color: aqua;
padding: 1%;
margin: 2%;
border-radius: 5px;
border-style: groove;
}


.my-class2{
    text-align: center;
    
}

.my-font{
    font-size: 50px;
}

   